{% extends "base" %}

<!--TODO common phrase localization-->

{% block title %}
{{name}} {%if nick is not none%}{{nick}}{%endif%}
{% endblock %}

{% block header %}
<p class="h1 my-0 me-md-auto fw-normal">{{name}} {%if nick is not none%}{{nick}}{%endif%}</p>
<a class="btn btn-outline-primary btn-sm" href="../index.html">Home</a>
{% endblock %}

{% block main %}
<div class="container-fluid text-center">
    <div class="row text-start mb-2">
        <div class="col">
            {{localize("BIRTH_DATE", birth)}}<br />
            {%if dead%}
            Date of death: {{date}}<br />
            Reason of death: {%if reason != none%}{{reason}}{%else%}Natural causes{%endif%}<br />
            {%endif%}
            {%if culture is defined and culture is not none%}
            Culture: {{culture|render_ref}} <br>
            {%endif%}
            {%if faith is defined and faith is not none%}
            Faith: {{faith|render_ref}} <br>
            {%endif%}
            Dynastic House: {%if house is not none%}{{house|render_ref}}{%else%}Lowborn{%endif%}<br />
            {%if liege is not none%}
            Liege: {{liege|render_ref}}<br>
            {%endif%}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col w-50">
            <div class="card">
                <div class="card-header">
                    Base Skills
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Diplomacy</th>
                                <th scope="col">Stewardship</th>
                                <th scope="col">Martial</th>
                                <th scope="col">Intrigue</th>
                                <th scope="col">Learning</th>
                                <th scope="col">Prowess</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {%for skill in skills%}
                                <td>{{skill}}</td>
                                {%endfor%}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col w-50">
            <div class="card">
                <div class="card-header">
                    Traits
                </div>
                <div class="card-body row-cols-*">
                    {%for trait in traits%}
                    <div class="card col p-2 m-1 d-inline-block">
                        {{trait}}
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col w-50">
            <div class="card">
                <div class="card-header">
                    Family
                </div>
                <ul class="list-group list-group-flush text-start">
                    <li class="list-group-item">Parents: {%for parent in parents%} {{parent|render_ref}} {%endfor%}</li>
                    {%if not dead%}
                    <li class="list-group-item">Spouses: {%for spouse in spouses%} {{spouse|render_ref}} {%endfor%}</li>
                    {%endif%}
                    {%if former|length > 0%}
                    <li class="list-group-item">Former spouses: {%for spouse in former%} {{spouse|render_ref}} {%endfor%}</li>
                    {%endif%}
                    <li class="list-group-item">Children: {%for child in children%} {{child|render_ref}} {%endfor%}</li>
                </ul>
            </div>
            {%if dna != none%}
            <div class="card">
                <div class="card-header" data-bs-toggle="collapse" href="#collapseDna" role="button" aria-expanded="false" aria-controls="collapseDna">
                    Character DNA
                </div>
                <div class="collapse" id="collapseDna">
                    <textarea class="form-control" style="resize: none;" readonly>{{dna|safe}}</textarea>
                </div>
            </div>
            {%endif%}
            {%if artifacts|length != 0%}
            <div class="card">
                <div class="card-header" data-bs-toggle="collapse" href="#collapseArtifacts" role="button" aria-expanded="false" aria-controls="collapseArtifacts">
                    Inventory
                </div>
                <div class="collapse" id="collapseArtifacts">
                    <div class="row-cols-*">
                        {%for artifact in artifacts%}
                        <div class="card col m-2 p-2 d-inline-block artifact" data-bs-toggle="tooltip" data-bs-trigger="hover focus click" data-bs-placement="right" data-bs-html="true" data-bs-title="
                        <ul class='list-group list-group-flush'>
                            <li class='list-group-item'>{{artifact.type}}</li>
                            <li class='list-group-item'>{{artifact.rarity}}</li>
                            <li class='list-group-item'>{{artifact.description|escape}}</li>
                        </ul>">
                        {{artifact.name}}
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%endif%}
            {%if memories|length != 0%}
            <div class="card">
                <div class="card-header" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Character Memories
                </div>
                <ul class="collapse list-group list-group-flush" id="collapseExample">
                    {%for memory in memories%}
                    <li class="list-group-item">
                        {{memory.date}}:{%if memory.type is not none%}{{memory.type}}{%endif%}<br>
                        {%if memory.participants is not none%}
                        {%for key, value in memory.participants|items%}
                            {{value|render_ref}}
                        {%endfor%}
                        {%endif%}
                    </li>
                    {%endfor%}
                </ul>
            </div>
            {%endif%}
        </div>
        <div class="col w-50">
            {%if titles|length > 0 or not dead%}
            <div class="card">
                <div class="card-header">
                    Domain
                </div>
                <ul class="list-group list-group-flush text-start">
                    {%if titles|length > 0%}
                    <li class="list-group-item">Titles: 
                        {%for title in titles%} 
                        {{title|render_ref}}
                        {%endfor%}
                    </li>
                    {%endif%}
                    {%if not dead%}
                    <li class="list-group-item">Gold: {{gold}} | Piety: {{piety}} | Prestige: {{prestige}}</li>
                    <li class="list-group-item">Dread: {{dread}} | Army: {{strength}}</li>
                    <li class="list-group-item">Kills: {%for killed in kills%} {{killed|render_ref}} {%endfor%}</li>
                    <li class="list-group-item">Known Languages: {%for lang in languages%} {{lang}} {%endfor%}</li>
                    {%endif%}
                    {%if vassals|length > 0%}
                    <li class="list-group-item">Vassals: {%for vassal in vassals%} {{vassal|render_ref}} {%endfor%}</li>
                    {%endif%}
                </ul>
            </div>
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}