<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <title>{{character.name}} {{character.nick if character.nick != none}}</title>
    </head>
    <body>
        <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
            <p class="h1 my-0 me-md-auto fw-normal">{{character.name}} {{character.nick if character.nick != none}}</p>
            <a class="btn btn-outline-primary btn-sm" href="../index.html">Home</a>
        </header>
        <main class="m-2">
            <div class="container-fluid text-center">
                <div class="row text-start">
                    <div class="col">
                        Date of birth: {{character.birth}}<br />
                        {%if character.dead%}
                        Date of death: {{character.date}}<br />
                        Reason of death: {%if character.reason != none%}{{character.reason}}{%else%}Natural causes{%endif%}<br />
                        {%endif%}
                        {%if character.culture is defined%}
                        Culture: {{character.culture|render_ref}} <br>
                        {%endif%}
                        {%if character.faith is defined%}
                        Faith: {{character.faith|render_ref}} <br>
                        {%endif%}
                        Dynastic House: {%if character.house is defined%}{{character.house|render_ref}}{%else%}Lowborn{%endif%}<br />
                        {%if character.liege is defined%}
                        Liege: {{character.liege|render_ref}}<br>
                        {%endif%}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col" class="w-50">
                        <div class="card">
                            <div class="card-header">
                                Base Skills
                            </div>
                            <table class="table table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Diplomacy</th>
                                        <th scope="col">Stewardship</th>
                                        <th scope="col">Martial</th>
                                        <th scope="col">Intrigue</th>
                                        <th scope="col">Learning</th>
                                        <th scope="col">Prowess</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{character.skills[0]}}</td>
                                        <td>{{character.skills[1]}}</td>
                                        <td>{{character.skills[2]}}</td>
                                        <td>{{character.skills[3]}}</td>
                                        <td>{{character.skills[4]}}</td>
                                        <td>{{character.skills[5]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col" class="w-50">
                        <div class="card">
                            <div class="card-header">
                                Traits
                            </div>
                            <div class="card-body row-cols-*">
                                {%for trait in character.traits%}
                                <div class="card col p-2 d-inline-block">
                                    {{trait}}
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col" class="w-50">
                        <div class="card">
                            <div class="card-header">
                                Family
                            </div>
                            <ul class="list-group list-group-flush text-start">
                                <li class="list-group-item">Parents: {%for parent in character.parents%} {{parent|render_ref}} {%endfor%}</li>
                                {%if not character.dead%}
                                <li class="list-group-item">Spouses: {%for spouse in character.spouses%} {{spouse|render_ref}} {%endfor%}</li>
                                {%endif%}
                                {%if character.former|length > 0%}
                                <li class="list-group-item">Former spouses: {%for spouse in character.former%} {{spouse|render_ref}} {%endfor%}</li>
                                {%endif%}
                                <li class="list-group-item">Children: {%for child in character.children%} {{child|render_ref}} {%endfor%}</li>
                            </ul>
                        </div>
                        {%if character.dna != none%}
                        <div class="card">
                            <div class="card-header" data-bs-toggle="collapse" href="#collapseDna" role="button" aria-expanded="false" aria-controls="collapseDna">
                                Character DNA
                            </div>
                            <div class="collapse" id="collapseDna">
                                <textarea class="form-control" style="resize: none;" readonly>{{character.dna|safe}}</textarea>
                            </div>
                        </div>
                        {%endif%}
                        {%if character.artifacts|length != 0%}
                        <div class="card">
                            <div class="card-header" data-bs-toggle="collapse" href="#collapseArtifacts" role="button" aria-expanded="false" aria-controls="collapseArtifacts">
                                Inventory
                            </div>
                            <div class="collapse row-cols-*" id="collapseArtifacts">
                                {%for artifact in character.artifacts%}
                                <div class="card col m-2 p-2 d-inline-block" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="
                                <ul class='list-group list-group-flush'>
                                    <li class='list-group-item'>{{artifact.type}}</li>
                                    <li class='list-group-item'>{{artifact.rarity}}</li>
                                    <li class='list-group-item'>{{artifact.description|escape}}</li>
                                </ul>">
                                {{artifact.name}}
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                        {%endif%}
                        {%if character.memories|length != 0%}
                        <div class="card">
                            <div class="card-header" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Character Memories
                            </div>
                            <ul class="collapse list-group list-group-flush" id="collapseExample">
                                {%for memory in character.memories%}
                                <li class="list-group-item">
                                    {{memory.date}}:{%if memory.type is defined%}{{memory.type}}{%endif%}<br>
                                    {%if memory.participants is defined%}
                                    {%for key, value in memory.participants%}
                                        {{key}}:{{value|render_ref}}
                                    {%endfor%}
                                    {%endif%}
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                        {%endif%}
                    </div>
                    <div class="col" class="w-50">
                        {%if character.titles|length > 0 or not character.dead%}
                        <div class="card">
                            <div class="card-header">
                                Domain
                            </div>
                            <ul class="list-group list-group-flush text-start">
                                {%if character.titles|length > 0%}
                                <li class="list-group-item">Titles: 
                                    {%for title in character.titles%} 
                                    {{title|render_ref}}
                                    {%endfor%}
                                </li>
                                {%endif%}
                                {%if not character.dead%}
                                <li class="list-group-item">Gold: {{character.gold}} | Piety: {{character.piety}} | Prestige: {{character.prestige}}</li>
                                <li class="list-group-item">Dread: {{character.dread}} | Army: {{character.strength}}</li>
                                <li class="list-group-item">Kills: {%for killed in character.kills%} {{killed|render_ref}} {%endfor%}</li>
                                <li class="list-group-item">Known Languages: {%for lang in character.languages%} {{lang}} {%endfor%}</li>
                                {%endif%}
                                {%if character.vassals|length > 0%}
                                <li class="list-group-item">Vassals: {%for vassal in character.vassals%} {{vassal|render_ref}} {%endfor%}</li>
                                {%endif%}
                            </ul>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</html>