{% extends "base" %}

{% block title %}
{{name}}
{% endblock %}

{% block header %}
<p class="h1 my-0 me-md-auto fw-normal">{{name}}</p>
<a class="btn btn-outline-primary btn-sm" href="../index.html">Home</a>
{% endblock %}

{% block main %}
<div class="row w-100">
    <div class="col w-50">
        {%if ethos is not none%}
        Nature: {{ethos}}
        <br />
        {%endif%}
        Heritage: {{heritage}}
        <br />
        Language: {{language}}
        <br />
        Martial Customs: {{martial}}
        <br />
        {%if date is not none and date != '0001-01-01'%}
        Culture Creation Date: {{date}}
        <br />
        {%endif%}
        {%if parents|length > 0%}
        Created from:
        {%for parent in parents%}
        {{parent|render_ref}}
        {%endfor%}
        <br />
        {%endif%}
        {%if children|length > 0%}
        Derived cultures:
        {%for child in children%}
        {{child|render_ref}}
        {%endfor%}
        {%endif%}
        <div class="card mb-2">
            <div class="card-header">
                Traditions:
            </div>
            <div class="card-body row-cols-*">
                {%for tradition in traditions%}
                <div class="card d-inline-block p-2">{{tradition}}</div>
                {%endfor%}
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                Culture eras:
            </div>
            <table class="table table-responsive table-bordered mb-0">
                <tbody>
                    <tr>
                    {%for era in eras%}
                    <td>
                        <h5 class="card-title">{{era[0]}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary text-center">
                            <div class="row">
                                {%if era[1] is not none or era[2] is not none%}
                                <div class="col">
                                {%if era[1] is not none%}{{era[1]}}{%endif%}
                                </div>
                                -
                                <div class="col">
                                {%if era[2] is not none%}{{era[2]}}{%endif%}
                                </div>
                                {%endif%}   
                            </div>
                        </h6>         
                    </td>
                    {%endfor%}
                    </tr>
                </tbody>
            </table>
        </div>
        {%if not no_vis%}
        <div class="card mt-2">
            <div class="card-header">
                Deaths of culture members through time
            </div>
            <div class="card-body p-0">
                <a href="./{{id}}.svg" target="_blank"><img src="./{{id}}.svg" class="img-fluid" alt="Graph of culture members through time"></a>
            </div>
        </div>
        {%endif%}
    </div>
    <div class="col w-50">
        {%if map_present%}
        <div class="card">
            <div class="card-header">
                Counties of the culture
            </div>
            <div class="card-body p-0">
                <a href="./{{id}}.png" target="_blank"><img src="./{{id}}.png" class="img-fluid" alt="Map of the counties that have this culture"></a>
            </div>
        </div>
        {%endif%}
    </div>
</div>
{% endblock %}