{% extends "base" %}

{% block title %}
{{name}}
{% endblock %}

{% block header %}
<p class="h1 my-0 me-md-auto fw-normal">{{name}}</p>
<a class="btn btn-outline-primary btn-sm" href="../index.html">Home</a>
{% endblock %}

{% block main %}

<div class="row text-start w-100">
    <div class="col">
        <div class="card mb-2">
            <div class="card-header">
                Tenets:
            </div>
            <table class="table table-bordered card-body mb-0">
                <thead>
                    <tr>
                        {%for tenet in tenets%}
                        <th scope="col">{{tenet}}</th>
                        {%endfor%}
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                Other:
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Religion Head:
                {%if head is defined%}
                {{head|render_ref}}
                {%else%}
                None
                {%endif%}
                </li>
                <li class="list-group-item">Fervor: {{fervor}}</li>
                {%for doctrine in doctrines%}
                {%if loop.index > 18%}
                <li class="list-group-item">{{doctrine}}</li>
                {%endif%}
                {%endfor%}
            </ul>
        </div>
        {%if not no_vis%}
        <div class="card">
            <div class="card-header">
                Deaths of adherents through time
            </div>
            <div class="card-body p-0">
                <a href="./{{id}}.svg" target="_blank"><img src="./{{id}}.svg" class="img-fluid" alt="Graph of adherent deaths through time"></a>
            </div>
        </div>
        {%endif%}
    </div>
    <div class="col">
        <div class="card mb-2">
            <div class="card-header">
                Doctrines:
            </div>
            <table class="table table-bordered mb-0">
                <tr>
                    <td>Marriage</td>
                    <td>{{doctrines[0]}}</td>
                </tr>
                <tr>
                    <td>Divorce</td>
                    <td>{{doctrines[1]}}</td>
                </tr>
                <tr>
                    <td>Bastard legitimacy</td>
                    <td>{{doctrines[2]}}</td>
                </tr>
                <tr>
                    <td>Same sex relations</td>
                    <td>{{doctrines[3]}}</td>
                </tr>
                <tr>
                    <td>Male adultery</td>
                    <td>{{doctrines[4]}}</td>
                </tr>
                <tr>
                    <td>Female adultery</td>
                    <td>{{doctrines[5]}}</td>
                </tr>
                <tr>
                    <td>Kinslaying</td>
                    <td>{{doctrines[6]}}</td>
                </tr>
                <tr>
                    <td>Deviancy</td>
                    <td>{{doctrines[7]}}</td>
                </tr>
                <tr>
                    <td>Witchcraft</td>
                    <td>{{doctrines[8]}}</td>
                </tr>
                <tr>
                    <td>Dominant Sex</td>
                    <td>{{doctrines[9]}}</td>
                </tr>
                <tr>
                    <td>Clergy</td>
                    <td>{{doctrines[12]}} {{doctrines[15]}}</td>
                </tr>
                <tr>
                    <td>Consanguinity</td>
                    <td>{{doctrines[10]}}</td>
                </tr>
                <tr>
                    <td>Doctrine</td>
                    <td>{{doctrines[11]}}</td>
                </tr>
                <tr>
                    <td>Leadership</td>
                    <td>{{doctrines[13]}}</td>
                </tr>
                <tr>
                    <td>Clerical function</td>
                    <td>{{doctrines[14]}}</td>
                </tr>
                <tr>
                    <td>Clerical marriage</td>
                    <td>{{doctrines[16]}}</td>
                </tr>
                <tr>
                    <td>Clerical appointment</td>
                    <td>{{doctrines[17]}}</td>
                </tr>
            </table>
        </div>
        {%if map_present%}
        <div class="card">
            <div class="card-header">
                Counties of the faith
            </div>
            <div class="card-body p-0">
                <a href="./{{id}}.png" target="_blank"><img src="./{{id}}.png" class="img-fluid" alt="Map of the counties that follow this faith"></a>
            </div>
        </div>
        {%endif%}
    </div>
</div>
{% endblock %}