<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>{{player.name}}'s History</title>
</head>
<body>
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
        <p class="h1 my-0 me-md-auto fw-normal">{{player.name}}'s CK3 History</p>
        <a class="btn btn-outline-primary" href="https://github.com/TCA166/CK3-history-extractor">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
            </svg>
        </a>
    </header>
    <main style="margin:8px" >
        <h3>
            This is your character history:
        </h3>
        <div class="card-deck">
            {% for node in player.lineage %}
            <div class="card" style="width: 28rem;display: inline-block;margin:2px;">
                <div class="card-body">
                    <h5 class="card-title">{{node.character.name}} {{node.character.nick if node.character.nick != none}}</h5>
                    <p class="card-text">Of house {{node.character.house.name}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Inherited in {{node.date}}</li>
                    {% if node.lifestyle != none %}
                    <li class="list-group-item">Reached a score of: {{node.score}}</li>
                    <li class="list-group-item">Had a keen interest in {{node.lifestyle}}</li>
                    <li class="list-group-item">{% if node.perk != none%}Was a: {{node.perk}} {%else%}Didn't master a specific field{%endif%}</li>
                    {% else %}
                    <li class="list-group-item">This character has yet to prove himself.</li>
                    {% endif %}
                </ul>
                <div class="card-body">
                    <a href="characters/{{node.character.id}}.html">Read more</a>
                </div>
            </div>
            {%endfor%}
        </div>
    </main>
</body>
</html>