name: Rust Linux Lib

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build -p ck3_history_extractor_lib --verbose
      - name: Run tests
        run: cargo test -p ck3_history_extractor_lib --verbose
      - name: Test serde
        run: cargo test -p ck3_history_extractor_lib -F serde
      - name: Test display
        run: cargo test -p ck3_history_extractor_lib -F display
